:root {
  --color--background: #030303;
  --color--text: #eee;

  --color--primary: #5ACEFF;
  --color--secondary: #FF5A5A;

  --color--grey: #333;

  --color--success: #84DD63;
  --color--success--dark: #77b85f;
  --color--error: var(--color--secondary);
  --color--error--dark: #db3535;
}
