:root {
  --space--smaller: calc(var(--space--base) / 4);
  --space--small: calc(var(--space--base) / 2);
  --space--base: 16px;
  --space--medium: calc(var(--space--base) * 1.5);
  --space--large: calc(var(--space--base) * 2);
}
