.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space--large);
  background: var(--color--background);
  text-transform: uppercase;
  color: var(--color--primary);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.item {
  margin-left: var(--space--base)
}

.logo {
  margin-top: var(--space--base)
}
