.question {
  position: relative;
  min-height: calc(var(--space--base) * 25);
  background: var(--color--primary);
  border-radius: var(--radii--large) 0 0 var(--radii--large);
  color: var(--color--primary--dark);
}

.suffix {
  background: var(--color--secondary);
  border-radius: 0 var(--radii--large) var(--radii--large) 0;
  color: var(--color--secondary--light);
}

.input {
  appearance: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - var(--space--large) - var(--space--large));
  overflow: hidden;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.6;
  font-size: var(--font-size--large);
  font-family: var(--font-family--display);
  color: var(--color--primary--darker);
  background: none;
  border: none;
  outline: none;
  resize: none;
}

.suffix .input {
  color: var(--color--text);
}

.input::placeholder {
  color: var(--color--primary--dark);
}

.suffix .input::placeholder {
  color: var(--color--secondary--light);
}

.message {
  position: absolute;
  bottom: var(--space--small);
  right: var(--space--small);
  font-size: var(--font-size--small);
}

.suffix .message {
  left: var(--space--small);
}

.validation {
  margin-top: var(--space--small);
}
